html {
  scroll-behavior: smooth;
}

#trip-img {
  display: flex;
  height: 600px;
  width: 600px;
}

#navbarSupportedContent.action-nav { 
  justify-content: right;

}

button {
  background-color: orange;
  border: solid whitesmoke 2px;
  outline: 5px;
  color: whitesmoke;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 6px;
  
}

button:hover {
  background-color: whitesmoke;
  color: gray;
  border: gray solid 2px
}

main {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form {
  padding: 10px;
}
input {
  border: gray solid 1px;
  border-radius: 10px;
  padding: 2px 5px
}

#image-covers {
  border: orange 3px solid;
  border-radius: 8px;
  object-fit: cover;
  width: 300px;
  height: 300px;
}

#img-places {
  border: brown 3px solid;
  border-radius: 8px;
  object-fit: cover;
  width: 300px;
  height: 300px;
}

#root {background-image: url("https://garden.spoonflower.com/c/12801159/p/f/m/E3UsrcJM5LZGAMySGAErASxmLRMr8JTHZiBHDo5kBAeGLnnsGwRCxZmJlQ/Solid%20Color%20%7BPale%20Light%20Orange%7D%20.jpg")}

#gemini {
  padding: 10px; 
  display: flex;
  align-items: center;
}

#gemini-form {
  margin: 8px;
}

#delete_button {
  background-color: darkred;
}

#delete_button:hover{
  background-color: red;
  color:whitesmoke
}

#delete_trip {
  color:darkred !important
}
#delete_trip:hover {
  color:red !important
}

#gemini {
  background-color: whitesmoke;
  border: orange 3px solid;
  border-radius: 8px;
}

#buffer { 
  overflow-y: auto;
  padding:350px
}

#youtubeVid {
  padding-left: 25px;
}